* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c70ff;
  color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root > * {
  min-width: 700px;
  max-width: 900px;
}

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
